.bg-pink {
  background-color: #ff00d4;
}

.color-pink {
  color: #ff00d4;
}

.bg-hero-section {
  background-color: #ffc2f5;
}

.hero-title {
  font-size: 50px;
}

.hero-desc {
  color: grey;
}

.hero-image {
  width: 500px;
  height: auto;
}

.non-active {
  opacity: 0.5;
}

.hero-footer {
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
